
.total {
  display: flex;
  justify-content: space-around;
  
}
.All-total{
  display: flex;
  justify-content: space-around;
  align-items: center;



  
}
 img {
  display: inline-block;
  width: 11px;
  object-fit: contain;
 
}

.common {
  text-decoration: none;
  color: #888;
  font-size:9px;
  font-weight: 450;
  margin-left: 7px;
}

.location {
  width: 12px;
  object-fit: contain;
}
.BRANCH {
  text-decoration: none;
  color: #888;
  font-size:9px;
}

.year {
  display: inline-block;
  width:80px;
  text-decoration: none;
  background-color: #80b554;
  border-radius: 5px;
  color: white;
  font-size: 9px;
  text-align: center;
  padding: 4.5px;
}
.year:hover{
  filter:brightness(90%);
}
.tot1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.branch {
  margin-left: 11px;
}


@media only screen and (min-width: 290px) {
  .All-total{
    margin: 10px auto;
   
  }
 
 .total{
  margin: 10px auto;
  width:2200px;
 }


}
